<a href="https://colab.research.google.com/github/Kavya2906/Rock-vs-Mine-Detection/blob/main/Rock_vs_Mine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
sonar_data= pd.read_csv("/content/Copy of sonar data.csv",header=None) # as we don't have any header
x=sonar_data.iloc[:,:-1].values
y=sonar_data.iloc[:,-1].values

In [ ]:
sonar_data.shape

(208, 61)

In [ ]:
sonar_data.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [ ]:
sonar_data[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

In [ ]:
sonar_data.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [ ]:
print(x.shape)

(208, 60)

In [ ]:
print(y.shape)

(208,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, stratify=y,random_state = 1)

In [ ]:
print(X_train.shape)

(166, 60)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[9 2]
 [3 7]]

0.7619047619047619

# Making a predictive system

In [ ]:
import re
input_data=(0.0317 0.0956	0.1321	0.1408	0.1674	0.171	0.0731	0.1401	0.2083	0.3513	0.1786	0.0658	0.0513	0.3752	0.5419	0.544	0.515	0.4262	0.2024	0.4233	0.7723	0.9735	0.939	0.5559	0.5268	0.6826	0.5713	0.5429	0.2177	0.2149	0.5811	0.6323	0.2965	0.1873	0.2969	0.5163	0.6153	0.4283	0.5479	0.6133	0.5017	0.2377	0.1957	0.1749	0.1304	0.0597	0.1124	0.1047	0.0507	0.0159	0.0195	0.0201	0.0248	0.0131	0.007	0.0138	0.0092	0.0143	0.0036	0.0103)
input_data=input_data.split(" ")
#changing input data into numpy array
print(input_data)
numpy_array=np.asarray(input_data)
input_data=numpy_array.reshape(1,-1)
predictions=classifier.predict(input_data)
print(predictions)

['0.0317', '0.0956\t0.1321\t0.1408\t0.1674\t0.171\t0.0731\t0.1401\t0.2083\t0.3513\t0.1786\t0.0658\t0.0513\t0.3752\t0.5419\t0.544\t0.515\t0.4262\t0.2024\t0.4233\t0.7723\t0.9735\t0.939\t0.5559\t0.5268\t0.6826\t0.5713\t0.5429\t0.2177\t0.2149\t0.5811\t0.6323\t0.2965\t0.1873\t0.2969\t0.5163\t0.6153\t0.4283\t0.5479\t0.6133\t0.5017\t0.2377\t0.1957\t0.1749\t0.1304\t0.0597\t0.1124\t0.1047\t0.0507\t0.0159\t0.0195\t0.0201\t0.0248\t0.0131\t0.007\t0.0138\t0.0092\t0.0143\t0.0036\t0.0103)']

'numpy_array=np.asarray(input_data)\ninput_data=numpy_array.reshape(1,-1)\npredictions=classifier.predict(input_data)\nprint(predictions)'